.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  height: 200px;
  transition: 150ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0deg))
    translateY(var(--translate-y, 0));
  cursor: pointer;
  /* margin: 1rem; */
  background-color: var(--color, white);
}

.card.flip {
  --rotate-y: 180deg;
  --color: springgreen;
}

.card .front,
.card .back {
  position: absolute;
  padding: 10px 10px;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card .front {
  left: 0;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card-options {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.75rem;
}
